{% extends 'dashboard.html.twig' %}

{% block title %}Gestion de mes alias{% endblock %}

{% block content_title %}
    {{ "My aliases" | trans }}
{% endblock %}

{% block content_body %}
    <a class="btn btn-sm btn-success btn-block" href="{{ path('alias_new') }}">
        {{ "Add new alias" | trans }}
    </a>

    <div class="table-responsive">
        <table class="table table-hover table-borderless text-center">
            <thead class="thead-dark">
            <tr>
                <th>{{ "Alias" | trans }}</th>
                <th>{{ "Target" | trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for alias in aliases %}
                <tr>
                    <td>{{ alias.aliasEmail }}</td>
                    <td>{{ alias.realEmail }}</td>
                    <td class="text-right">
                        <form method="post" action="{{ path('alias_delete', {'id': alias.id}) }}"
                              onsubmit="return confirm('{{ 'Are you sure ?' | trans }}');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alias.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ "0 alias found" | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(aliases) }}
        </div>
    </div>
{% endblock %}
