{% extends 'dashboard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('export-selection') }}
{% endblock %}

{% block content_title %}{{ "Export data" | trans }}{% endblock %}

{% block content_body %}
    <form action="{{ path('export_csv') }}" method="post">
        <table class="table table-hover table-borderless text-center">
            <thead class="thead-dark">
            <tr>
                <th class="align-middle">{{ "Email" | trans }}</th>
                <th class="align-middle">{{ "Alias" | trans }}</th>
                <th>
                    {{ "Export aliases" | trans }}
                    <label class="switch">
                        <input type="checkbox" class="custom-control-input all-alias"
                               id="select-all-alias" checked>
                        <span class="slider round"></span>
                    </label>
                </th>
                <th>
                    {{ "Export tags" | trans }}
                    <label class="switch">
                        <input type="checkbox" class="custom-control-input all-tags"
                               id="select-all-tags" checked>
                        <span class="slider round"></span>
                    </label>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for alias in aliases %}
                <tr>
                    <td>{{ alias.realEmail }}</td>
                    <td>{{ alias.aliasEmail }}</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" class="custom-control-input checkbox-alias"
                                   name="alias[{{ alias.id }}]" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" class="custom-control-input checkbox-tags"
                                   name="tags[{{ alias.id }}]" checked>
                            <span class="slider round"></span>
                        </label>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-block btn-success">{{ "Export" | trans }}</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('export-selection') }}
{% endblock %}
