{% extends 'dashboard.html.twig' %}

{% block content_title %}{{ "Result(s) for" | trans }} "{{ search }}"{% endblock %}

{% block content_body %}
    <ul class="list-group list-group-flush">
        {% if results is empty %}
            <p class="text-center">{{ "No result found" | trans }}</p>
        {% endif %}
        {% for result in results %}
            <li class="list-group-item">
                {{ result.aliasEmail }} <small>({{ "for" | trans }} {{ result.realEmail }})</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
