{% extends 'dashboard.html.twig' %}

{% block content_title %}{{ 'Alias to sync' | trans }}{% endblock %}

{% block content_body %}
    <form action="{{ path('sync_add') }}" method="post">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>{{ 'Email' | trans }}</th>
                <th>{{ 'Alias' | trans }}</th>
                <th>{{ 'Existing on' | trans }}</th>
                <th class="sr-only">input</th>
            </tr>
            </thead>

            <tbody>
            {% for key, alias in diff %}
                <tr class={{ alias['is'] == 'local' ? "table-success" : "table-warning" }}>
                    <td>{{ alias['email'] }}</td>
                    <td>{{ alias['alias'] }}</td>
                    <td>{{ alias['is'] }}</td>
                    <td class="sr-only">
                        <input name="email[{{ key }}]" type="hidden" value="{{ alias['email'] }}">
                        <input name="alias[{{ key }}]" type="hidden" value="{{ alias['alias'] }}">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-block btn-success">{{ 'Sync all' | trans }}</button>
    </form>
{% endblock %}
