{% extends 'dashboard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('edit-alias') }}
{% endblock %}

{% block content_title %}Modifier un alias{% endblock %}

{% block content_body %}
    <a href="{{ path('email_index') }}">Revenir en arrière</a>
    {{ form_start(form) }}
    <div id="select-tags-input" class="form-group" data-tags="{{ email.tags | json_encode }}">
        {{ form_label(form.tags) }}
        {{ form_widget(form.tags) }}
    </div>
    <button class="btn btn-block btn-primary">Modifier</button>
    {{ form_end(form) }}
    <div class="mb-3"></div>
    {{ include('email/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('edit-alias') }}
{% endblock %}
