{% extends 'dashboard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add-alias') }}
{% endblock %}

{% block content_title %}{{ "Add new alias" | trans }}{% endblock %}

{% block content_body %}
    {{ form_start(form) }}
    {{ form_row(form.target) }}

    <div class="form-group">
        {{ form_label(form.alias) }}
        <div class="input-group">
            {{ form_widget(form.alias) }}
            <div class="input-group-append">
                <span class="input-group-text" id="input-append-alias"></span>
            </div>
        </div>
    </div>
    {{ form_row(form.tags) }}
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-block btn-secondary" href="{{ path('email_index') }}">{{ "Cancel" | trans }}</a>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-block btn-success">{{ "Save" | trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add-alias') }}
{% endblock %}
